@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  html {
    @apply scroll-smooth
  }

  p {
    @apply text-xl text-gray-700 m-0 leading-normal
  }

  h2 {
    @apply text-4xl font-bold text-center
  }

  h3 {
    @apply text-2xl font-medium my-6 text-gray-700
  }

  li {
    @apply p-4  cursor-pointer
  }

  button {
    @apply text-white border bg-main-blue border-main-blue
    hover:bg-transparent hover:text-main-blue rounded-md
  }
}


.container {
  max-width: 60rem;
}



.padding_video {
  padding-top: 56.25%
}

@media (max-width: 991px) {
  iframe {
    max-width: 90%;
  }
}

